*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    overflow-x: hidden;
    background-color: #F6FAFF;
    color: #222222;
    font-family: "Urbanist", Arial, sans-serif;
}


header, body{
    height: fit-content;
    width: fit-content;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: fit-content;
    color: #222222;
    padding: 0 10%;
    position: fixed;
    z-index: 5;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;

}

#logo_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 72px;
}

#logo_container a{
    font-size: 20px;
    font-weight: 500;
}

nav a{
    display: block;
} 

#logo_container button{
    display: none;            
}

.nav_items button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    height: 24px;
    background-image: url(Images/day.png);
    background-color: #FFFFFF;
    border: none;
    outline: none;  
}

.menu_container, .nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_items{
    gap: 32px;
}

.social_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    gap: 16px;
    padding: 16px;
    position:absolute;
    top: calc(50vh - 64px);
    right: 16px;
    background-color: #FDFFFF;
    color: #222222;
}

.social_links2{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    gap: 56px;
}

.social_links a, .social_links2 a, .social_links img, .social_links2 img{
    display: flex;
    height: fit-content;
    width: fit-content;
    gap: 16px;
}

.social_links p{
    display: none;
}



.page_content{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    width: 100vw;
    height: fit-content;
    background: #FDFFFF;
    color: #222222;
    margin-top: 72px;
    z-index: 1;
    scroll-snap-type: y mandatory;
}

.hero, .section1, .section2, .section3{
    scroll-snap-align: start;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 72px);
    background: linear-gradient(
        to right,
        #FFFFFF00 0%,
        #FFFFFF00 40%,
        #A7ABB6 40%,
        #A7ABB6 100%
    );
    padding: 0 10%;
    position: relative;

}

.hero_container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 75%;
    max-height: 720px;
}

.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 72px);
    padding: 0 10%;
    gap: 80px;
    
}

.section1_background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to top,
        #FFFFFF00 0%,
        #FFFFFF00 15%,
        #D1E3E5 15%,
        #D1E3E5 85%,
        #FFFFFF00 85%,
        #FFFFFF00 100%
    );
}

.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 72px);
    padding-left: 10%;
    gap: 80px;
    position: relative;
}

.section2_background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #D1E3E5;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    padding: 80px 0;
    position: relative;
    background-color: #222222;
    color: #FFFFFF;
}

footer{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: fit-content;
    padding: calc(10vh - 7.2px) 10%;
    gap: 80px;
    position: relative;
    background:linear-gradient(
        to right,
        #FFFFFF00 0%,
        #FFFFFF00 18%,
        #A7ABB6 18%,
        #A7ABB6 100%
    );
    color: #222222;
}



.title1, .title2, .title3, .title4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
}

.title1{
    align-items: center;
    text-align: center;
    width: 60vw;
    max-width: 1200px;
}

.title1 p{
    width: 45vw;
    max-width: 900px;
}

.title2{
    align-items: flex-start;
    text-align: left;
    width: 50vw;
    max-width: 800px;
}

.title3{
    align-items: center;
    text-align: center;
    width: 50vw;
    max-width: 1200px;
}

.title3 p{
    align-items: center;
    text-align: center;
    width: 45vw;
    max-width: 900px;
}

.title4{
    align-items: flex-start;
    text-align: left;
    width: 30vw;
    max-width: 600;
    gap: 16px;
}

.tags{
    width: fit-content;
    height: fit-content;
    padding: 8px;
    background: #ECE7D7;
    text-align: left;
}

.banner1{
    width: 60vw;
    max-width: 900px;
    height: 60vh;
    background-color: #EEE7D7;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    mix-blend-mode: multiply;
}

.banner2{
    width: 40vw;
    max-width: 540px;
    height: 20%;
    background-color: #EEE7D7;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    mix-blend-mode: exclusion;
}

.banner3{
    width: 50vw;
    max-width: 900px;
    height: 60vh;
    background-color: #EEE7D7;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    mix-blend-mode: multiply;
}

h1{
    font-size: 64px;
    font-weight: 800;
    line-height: 100px;
    padding-bottom: 24px;
}

h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 75px;
}

h3{
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    padding: 8px 0 16px 0;
}

h4{
    font-size: 24px;
    font-weight: 800;
    line-height: 50px;
}

a, p{
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}


@media screen and (max-width:1024px) {
    nav{
        padding: 0 5%;
    }

    .hero{
        padding: 0 5%;
    }

    .section1{
        padding-left: 5%;
        padding-right: 5%;
    }

    footer{
        padding-left: 5%;
        padding-right: 5%;
    }

    .title1{
        width: 80%;
        max-width: 680px;
    }
    
    .title1 p{
        width: 90%;
        max-width: 600px;
    }

    .title2{
        width: 80%;
        max-width: 680px;
    }

    .section2{
        padding-left: 5%;
    }

    .section2_background{
        background-color: #D1E3E5;
    }

    .section2 .banner1{
        height: 30vh;
    }
    
    .title3{
        width: 80vw;
        max-width: 840px;
        padding: 0;
    }
    
    .title3 p{
        width: 80vw;
        max-width: 600px;
        padding: 0;
    }
    
    .title4{
        width: 60vw;
        max-width: 704px;
        gap: 12px;
    }

    .section1, .section2{
        gap: 48px;
    }

}


@media screen and (max-width:768px) {
                
    nav{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        height: fit-content;
        padding: 0 5%;
    }

    #logo_container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #logo_container a{
        font-size: 20px;
        font-weight: 500;
    }

    #logo_container button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border: none;
        outline: none;
        background-image: url('Images/hamburger.png');
    }

    #logo_container #icon_nigga{
        background-image: url('Images/close.png');
    }

    #menu_container{
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 60vh;
        gap: 64px;
        padding: 10% 0;
    }

    #menu_container_close{
        display: none;
    }

    .nav_items{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: fit-content;
        gap: 32px;
        padding: 0%;
    }

    .social_links{
        justify-content: flex-start;
        align-items: start;
        position: static;
        height: fit-content;
        gap: 32px;
        padding: 0;
    }


    .social_links p{
        display: flex; 
    }

    .hero, .section1, .section2, .section3{
        scroll-snap-align: start;
    }
    
    .hero{
        background: linear-gradient(
            to right,
            #FFFFFF00 0%,
            #FFFFFF00 30%,
            #A7ABB6 30%,
            #A7ABB6 100%
        );
        padding: 0 5%;
    
    }
    
    .hero_container{
        align-items: start;
        width: 100%;
        height: 80%;
        max-height: 840px;
    }

    .section1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100vw;
        height: calc(100vh - 72px);
        padding: calc(10vh - 7.2px) 5% 0 5%;
        gap: 48px;
    }
    
    .section1_background{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: start;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to top,
            #D1E3E5 0%,
            #D1E3E5 75%,
            #FFFFFF00 75%,
            #FFFFFF00 100%
        );
    }

    .section2{
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        gap: 48px;
        position: relative;
        padding-top: calc(10vh - 7.2px);
    }

    .section2 .title2{
        width: 100%;
    }
    
    .section2_background{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .section3{
        align-items: start;
        padding: calc(10vh - 7.2px) 0;
        position: relative;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100vw;
        height: fit-content;
        padding: calc(10vh - 7.2px) 5%;
        gap: 48px;
        position: relative;
        background:linear-gradient(
            to right,
            #FFFFFF00 0%,
            #FFFFFF00 30%,
            #A7ABB6 30%,
            #A7ABB6 100%
        );
        color: #222222;
    }
    
    .title1{
        align-items: start;
        text-align: left;
        width: 95%;
        max-width: 680px;
    }
    
    .title1 p{
        width: 80%;
        max-width: 600px;
    }

    .title2{
        align-items: start;
        text-align: left;
        width: 95%;
        max-width: 680px;
    }
    
    .title3{
        align-items: start;
        text-align: left;
        width: 90vw;
        max-width: 680px;
    }
    
    .title3 p{
        align-items: start;
        text-align: left;
        width: 80vw;
        max-width: 600px;
        padding: 0;
    }
    
    .title4{
        align-items: flex-start;
        text-align: left;
        width: 60vw;
        max-width: 420px;
        gap: 12px;
    }
    
    .tags{
        width: fit-content;
        height: fit-content;
        padding: 8px;
        background: #ECE7D7;
        text-align: left;
    }

    .banner3{
        width: 80vw;
        max-width: 600px;
    }

    .banner1{
        width: 300px;
        height: 300px;
    }

    .banner2{
        width: 40vw;
        max-width: 320px;
        height: 160px;
        background-color: #EEE7D7;
    }

    

    h1{
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
        padding-bottom: 24px;
    }

    h2{
        font-size: 44px;
        font-weight: 700;
        line-height: 64px;
    }
    
    h3{
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
        padding: 8px 0 16px 0;
    }
    
    h4{
        font-size: 24px;
        font-weight: 800;
        line-height: 50px;
    }

    a, p{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }


}

@media screen and (max-width:430px) {
    
    #menu_container{
        height: calc(100vh - 72px);
    }
    
    .hero, .section1, .section2, .section3{
        scroll-snap-align: start;
    }
    
    .hero{
        background: linear-gradient(
            to right,
            #FFFFFF00 0%,
            #FFFFFF00 30%,
            #A7ABB6 30%,
            #A7ABB6 100%
        );
        padding: 0 5%;
    
    }
    
    .hero_container{
        align-items: start;
        width: 100%;
        height: 80%;
        max-height: 840px;
    }

    .section1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100vw;
        height: calc(100vh - 72px);
        padding: calc(10vh - 7.2px) 5% 0 5%;
        gap: 48px;
    }
    
    .section1_background{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: start;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to top,
            #D1E3E5 0%,
            #D1E3E5 75%,
            #FFFFFF00 75%,
            #FFFFFF00 100%
        );
    }

    .section2{
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        gap: 48px;
        position: relative;
        padding: calc(10vh - 7.2px) 0 0 0;
    }

    .section2 .title2{
        width: 100%;
        max-width: 680px;
        padding: 0 5%;
    }
    

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 100vw;
        height: fit-content;
        padding: calc(10vh - 7.2px) 5%;
        gap: 24px;
        position: relative;
        background:linear-gradient(
            to right,
            #FFFFFF00 0%,
            #FFFFFF00 30%,
            #A7ABB6 30%,
            #A7ABB6 100%
        );
        color: #222222;
    }
    
    .title1{
        align-items: start;
        text-align: left;
        width: 95%;
        max-width: 680px;
    }
    
    .title1 p{
        width: 80%;
        max-width: 600px;
    }

    .title2{
        align-items: start;
        text-align: left;
        width: 95%;
        max-width: 680px;
    }
    
    .title3{
        align-items: start;
        text-align: left;
        width: 90vw;
        max-width: 680px;
    }
    
    .title3 p{
        align-items: start;
        text-align: left;
        width: 80vw;
        max-width: 600px;
        padding: 0;
    }
    
    .title4{
        align-items: flex-start;
        text-align: left;
        width: 60vw;
        max-width: 420px;
        gap: 12px;
    }
    
    .tags{
        width: fit-content;
        height: fit-content;
        padding: 8px;
        background: #ECE7D7;
        text-align: left;
    }

    .banner3{
        width: 80vw;
        max-width: 600px;
    }

    .banner1{
        width: 160px;
        height: 160px;
    }

    .banner2{
        width: 40vw;
        max-width: 240px;
        height: 104px;
        background-color: #EEE7D7;
    }

    

    h1{
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        padding-bottom: 16px;
    }

    h2{
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
    }
    
    h3{
        font-size: 24px;
        font-weight: 700;
        line-height: 48px;
        padding: 8px 0 16px 0;
    }
    
    h4{
        font-size: 24px;
        font-weight: 800;
        line-height: 50px;
    }

    a, p{
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
    }

}