*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #222222;
}


header, body{
    height: fit-content;
    width: fit-content;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: fit-content;
    color: #222222;
    padding: 0 10vw;
    position: fixed;
    z-index: 5;
    box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.2);
    background-color: #ffffff;

}

#logo_holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 64px;
}

#logo_holder a{
    font-size: 20px;
    line-height: 48pX;
    font-weight: 400;
}

#logo_holder p{
    display: flex;
    align-self: flex-end;
    font-family: 'Sacramento', Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 48px;
    color: #222222;
}

nav a{
    display: flex;
    align-items: center;
    gap: 8px;
} 

#logo_holder button{
    display: none;            
}

.nav_holder button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    height: 24px;
    background-image: url(Images/day.png);
    background-color: #222222;
    border: none;
    outline: none;  
}

.menu1, .nav_holder{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_holder{
    width: fit-content;
    gap: 32px;
}

/*Form Styling Starts*/

form{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: calc(100vh - 64px);
    position: absolute;
    bottom: 0;
    padding: 56px 10vw;
    gap: 104px;

}

#grid_container{
    display: grid;
    width: 100%;
    height: 100%;
}

.all_musks{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border: none;
    outline: none;

}

#musk1{
    background-image: url(images/desktop/Cyberpunk.png);
    grid-area: 1 / 1 / 4 / 3;
    object-fit: cover;
}

#musk2{
    background-image: url(images/desktop/Olodumare.png);
    grid-area: 1 / 3 / 3 / 5;
    object-fit: cover;
}

#musk3{
    background-image: url(images/desktop/Shango.png);
    grid-area: 1 / 5 / 3 / 7;
    object-fit: cover;
}

#musk4{
    background-image: url(images/desktop/Cosmic\ Gazer.png);
    grid-area: 4 / 1 / 6 / 3;
    object-fit: cover;
}

#musk5{
    background-image: url(images/desktop/Agbani\ Darego.png);
    grid-area: 3 / 3 / 6 / 5;
    object-fit: cover;
}

#musk6{
    background-image: url(images/desktop/Yemoja.png);
    grid-area: 3 / 5 / 6 / 7;
    object-fit: cover;
}

.small_counter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #22222290;
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 4px;
    gap: 4px;
}

#text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 400px;
}

#display_holder{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#description, #display{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#description{
    gap: 8px;
}

button{
    background-color: none;
    outline: none;
    border: none;
}

#buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

#buttons #reset{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 8px;
    background: none;
    color: #222222;
}

/*Form Styling Ends*/

a, p, .small_counter, label, button, #description p{
    font-family: 'Urbanist', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

h1{
    font-family: Space Grotesk;
    font-size: 40px;
    font-weight: 700;
    line-height: 64px;
}

#display output{
    font-family: Space Grotesk;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
}

footer{
    display: flex;
    padding: 8px 10vw 8px 10vw;
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: 'Urbanist', Arial, sans-serif;
    font-size: 8px;
    font-weight: 200;
    line-height: 16px;
}


@media screen and (max-width:1024px) {
    nav{
        padding: 0 5%;
    }

    /*Form Styling Starts*/

form{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: calc(100vh - 64px);
    position: absolute;
    bottom: 0;
    padding: 56px 5vw;
    gap: 80px;

}

}



@media screen and (max-width:768px) {
                
    nav{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        height: fit-content;
        padding: 0 5%;
    }

    #logo_holder{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


    #logo_holder a{
        font-size: 20px;
        font-weight: 600;
    }
    
    #logo_holder p{
        font-family: 'Sacramento', Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 48px;
        color: #222222;
    }

    #logo_holder button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        border: none;
        outline: none;
        background-image: url('Images/hamburger.png');
    }

    #logo_holder #icon2{
        background-image: url('Images/close.png');
    }

    #menu1{
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 60vh;
        gap: 64px;
        padding: 10% 0;
    }

    #menu2{
        display: none;
    }

    .nav_holder{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: fit-content;
        gap: 32px;
        padding: 0%;
    }

    /*Form Styling Starts*/

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: calc(100vh - 64px);
    position: absolute;
    bottom: 0;
    padding: 48px 5vw 80px 5vw;
    gap: 64px;
}


.small_counter{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #22222290;
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 4px;
    gap: 4px;
}

#text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    max-width: none;
}

#display_holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90vw;
}

#description, #display{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 320px;
}

#description{
    gap: 16px;
}

button{
    background-color: none;
    outline: none;
    border: none;
}

#buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

#buttons #reset{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 8px;
    background: none;
    color: #222222;
}

/*Form Styling Ends*/

a, p, .small_counter, label, button, #description p{
    font-family: 'Urbanist', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

h1{
    font-family: Space Grotesk;
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
}

#display output{
    font-family: Space Grotesk;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
}

footer{
    display: flex;
    padding: 8px 5vw 8px 5vw;
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: 'Urbanist', Arial, sans-serif;
    font-size: 8px;
    font-weight: 200;
    line-height: 16px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}

}



@media screen and (max-width: 430px) {
    
    #menu1{
        height: calc(100vh - 72px);
    }

    
    #description, #display{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: none;
    }

    a, p, .small_counter, label, button, #description p{
        font-family: 'Urbanist', Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
    }
    
    h1{
        font-family: Space Grotesk;
        font-size: 24px;
        font-weight: 700;
        line-height: 40px;
    }
    
    #display output{
        font-family: Space Grotesk;
        font-size: 48px;
        font-weight: 700;
        line-height: 64px;
    }
    
    footer{
        display: flex;
        justify-content: center;
        padding: 8px 5vw 8px 5vw;
        position: fixed;
        width: 100vw;
        bottom: 0;
        font-family: 'Urbanist', Arial, sans-serif;
        font-size: 8px;
        font-weight: 200;
        line-height: 16px;
    
    }
}